.nav{
  padding:0.5rem 0;
  background-color:#e9ecef;
}
h2{
  text-align:center;
  font-size:20px;
  font-weight:600;
}
.card {
  display:inline-block;
  margin:1rem 1rem 0 0;
}
.event-detail{
  background-color:#eee;
  padding:1.5rem;
  margin-top:1.5rem;
}
.detail-text{
  margin:2.5rem 0;
}
.signup-form{
  border:1px solid rgb(219, 219, 219);
  padding:5rem 4rem;
  width:50%;
  margin:3rem auto;
}
body{
  width:60%;
  max-width:1200px;
  margin:auto;
}
h1{
  font-size:1.4rem;
  margin-top:2.5rem;
  margin-bottom:0;
}
.list-group-flush a{
  width:60%;
}
.breadcrumb{
  margin:1rem 0;
  background-color:rgb(219, 219, 219);
  border-radius:0;
  padding:1rem 2rem;
}
.breadcrumb-item a{
  font-size:0.9rem;
}
.active{
  font-size:0.9rem;
}
button{
  margin-right:1rem;
}
.list-group-2{
  margin-top:2rem;
}
.list-group-2 a{
  width:40%;
}
small{
  margin-bottom:1rem;
  margin-top:0;
}
table,form{
  margin-top:1rem;
}
.e-name{
  color:red;
}
.list-group-flush{
  margin-top:1rem;
}
.modsup{
  text-align:center;
  padding:1rem 2rem!important;
}
.fa-edit{
  color:#ffc107;
}
.fa-trash-alt{
  color:#dc3545;
}
.conn-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.conn{
  padding:4rem 3rem;
  width:50%;
}
h4{
  margin-bottom:2rem;
}
.logout-btn{
  margin-top:2rem;
}
.card-body a{
  margin-right:0.5rem;
}
.detail-btn{
  margin-top:1rem;
}
.btn-signin{
  width:100%;
  border-radius:0;
  margin-top:1rem;
}
.btn-signup{
  width:40%;
  margin:auto;
}
.signup-text{
  text-align:center;
  width:50%;
  margin:auto;
}
.btn-confirm-signup{
  margin:auto;
  margin-top:2rem;
  display:block;
  width:50%;
}
.pfp-conf{
  margin-top:2rem;
  height:200px;
  width:auto;
}
.form-control{
  border:none;
  background-color: rgb(233, 233, 233);
  border-radius:0;
}
.input-group-text,.input-group-pretend{
  border:none;
  background-color:rgb(216, 216, 216);
  padding:0 1rem;
  border-radius:0;
}
.btn{
  border-radius:0;
  padding:0.5rem 2rem;
}